@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
:root {
    --primary: #45d1a5;
    --dark: #333;
    --light: #fff;
    --shadow:  0 1px  5px rgba(104, 104, 104, 0.8);
}


/* Main CSS start here  */
.header_area {  
    padding: 30px 0;
}
.header_area .menu_icon {
    display: none;
}
.header_area .menu_icon img {  
    width: 3.44rem;
 }
.header_area .menu ul { 
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
 }
.header_area .menu ul li  a{  
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #34495e;
    transition: 0.3s;
}
.header_area .menu ul li a.active, .header_area .menu ul li  a:hover{  
    background: #45d1a5;
    color: #fff;
}
/* Header End  */


/* Banner Section  */
.banner {
    background: url( images/banner.jpg );
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 640px;
}
.banner .me img {
    width: 400px;
    margin-left: 50px;
}
.banner .banner_content{
    height: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_content p {
    margin: 0;
}
.banner_content h1{
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    /* text-shadow: 1px 1px #333; */
    position: relative;
    -webkit-text-stroke: 0.1vw #f3f3f3;
    text-transform: uppercase;
}
.banner_content h1::before {
    content: attr( data-text );
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #45d1a5;
    -webkit-text-stroke: 0vw #f3f3f3;
    border-right: 2px solid #45d1a5;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 40%;
    }
}



.banner_content h5{
    font-weight: 600;
    color: #34495e;
    margin-bottom: 40px;
}
.button_group {
    display: flex;
    margin: 40px 0;
}
.button_group .button {
    width: 170px;
    background: #45d1a5;
    margin-right: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.3s;
}
.button_group .button a{
    padding: 10px;
    display: block;
    color: #fff;
    transition: 0.3s;
 }
.button_group .button:last-child {
    background: transparent;
    border: 1px solid #45d1a5;
    color: #000;
    transition: 0.3s;
}
.button_group .button:last-child a{
    color: #000;
    transition: 0.3s;
}
.button_group .button:first-child:hover { 
    background: transparent;
    border: 1px solid #45d1a5;
}
.button_group .button:first-child a:hover {
    color: #000;
}
.button_group .button:last-child:hover { 
    background: #45d1a5;
    border: 1px solid transparent;
}
.button_group .button:last-child a:hover {
    color: #fff;
}
/* Banner Section End */

/*About Us Section*/

.about_us {
    padding: 100px 0;
    width: 100%;
    background: #f5f4f4;
}
.section_title {
    text-align: center;
    margin: 0px 0 50px;
}
.section_title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 100px;
    color: #1F5066;
}
.section_title P {
    margin: 0;
    color: #45d1a5;
    font-weight: bold;
}
.working_box {
    display: flex;
}
.working_box .box {
    width: 47%;
    height: auto;
    margin: 10px;
    background: #fff;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
 }
 .working_box .box:hover {
    box-shadow: 0 10px 20px 3px #00968814;
 }
 .working_box .box h2 {
     font-size: 35px;
     font-weight: bold;
     color: #45d1a5;
 }
.about_right h6 {
    font-weight: 600;
    color: #45d1a5;
}
.about_right {
    padding: 0 20px;
}
.about_right h2 {
    font-weight: 600;
    padding: 5px 0;
}
.about_right p{
    padding: 10px 0;
}
.about_right .myinfo1 p,
.about_right .myinfo2 p {
    padding: 0;
    margin: 5px 0;
    font-weight: 600;
    color: #1F5066;
}
.about_right .myinfo1 p span,
.about_right .myinfo2 p span {
    color: #45d1a5;
}
.about_right .myinfo1{
    text-align: right;
}
.about_right .myinfo2{
    text-align: left;
}
/* Skills */
.skills {
    padding: 50px 0 100px;
    width: 100%;
    background: #f5f4f4;
}
.skills_left h2 { 
    font-size: 30px;
    font-weight: 600;
}
.skills_left p {
    padding: 5px 0;
 }
.skills_left .read_more_button{
    background: #45d1a5;
    color: #fff;
    text-align: center;
    padding: 8px 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 .skills_left .read_more_button a {
     color: #fff;
     border: none;
 }
 .skills_left .read_more_button:hover {
     background: #42c59c;
 }

/* skill right */
.skills_right {
    padding: 0 20px;
}
.skills_right .line {
    margin-bottom: 15px;
}
.skills_right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills_right .info span {
    font-size: 18px;
    font-weight: 500;
}
.skills_right .bars {
    background-color:lightgray;
    height: 5px;
    width: 100%;
    position: relative;
}
.skills_right .bars::before {
    content: '';
    position: absolute;
    height: 100%;
    background: #45d1a5;
}
.skills_right .html::before {
    width: 90%;
}
.skills_right .css::before {
    width: 70%;
}
.skills_right .bootstrap::before {
    width: 65%;
}
.skills_right .php::before {
    width: 60%;
}
.skills_right .js::before {
    width: 60%;
}

/* Service section  */
.service_section {
    padding: 100px 0 0px;
}
.service {
    background: #F9F9F9;
    padding: 100px 30px;
    margin: 0px 10px;
    text-align: center;
    transition: all 0.3s ease;
}
.service:hover {
    background: #45d1a5;
    color: #fff;
}
.service:hover.service .service_icon i {
    color: #fff;
}
.service i {
    font-size: 100px;
    color: #45d1a5;
    transition: all 0.3s ease;
}
.service h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}
/* Project section  */
.project_section {
    padding: 100px 0 50px;
}
.project {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px 3px #00968814;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.project:hover {
    border: 1px solid #1F5066;
    cursor: pointer;
}
.project img {
    width: 100%;
}
.project_time p{
    color: rgb(116, 112, 112);
    margin: 10px 0;
}
.project_name {
    color: #45d1a5;
}
.project_rating p{
    color: #FFBB56;
}

/* Pricing Plan Section*/
.pricing_plan_section {
    padding: 100px 0;
}
.pricing_plan_section .plan {
    text-align: center;
    background: #f9f9f9;
    margin: 0 20px;
    padding: 50px 30px;
    border: 1px solid #1F5066;
}
.pricing_plan_section .plan p {
    text-align: left;
}
.plan_price h2 {
    font-size: 35px;
    color: #45d1a5;
    font-weight: 700;
}
.plan_price sup {
    font-size: 20px;
    margin-right: 5px;
    color: #1F5066;
}
.plan_title h4 {
    font-size: 20px;
    padding: 20px 0;
}
.plan_advantage p {
    color: #1F5066;
}
.plan_advantage p i {
    color: #45d1a5;
    font-size: 18px;
    margin-right: 10px;
}
.continue_button button {
    outline: none;
    border: 1px solid transparent;
    background: #45d1a5;
    color: #fff;
    padding: 10px 20px;
    margin-top: 30px;
}
.continue_button button:hover {
    background: #fff;
    color: #45d1a5;
    border: 1px solid #45d1a5;
}
/* Creativite Section */
.creativite_section {
    padding: 50px 0;
}
.creativite {
    margin:20px;
    text-align: center;
    background: transparent;
    color: #45d1a5;
    border: 1px solid #45d1a5;
    padding: 60px 18px;
    transition: all 0.3s ease;
}
.creativite:hover {
    background: #45d1a5;
    color: #fff;
    border: 1px solid #fff;
}
.creativite i {
    font-size: 40px;
}
.creativite h3 {
    font-size: 25px;
}
/* Creativite Footer */
.creatvite_footer {
    padding: 50px;
    text-align: center;
}
.creatvite_footer .section_title h2 {
    margin-bottom: 50px;
}
.creatvite_footer .section_title p {
    font-size: 20px;
}
.creatvite_footer a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background:#45d1a5;
    margin: 10px 0;
    padding: 10px 30px;
    border: 1px solid transparent;
}
.creatvite_footer a:hover {
    color: #45d1a5;
    background:#fff;
    border: 1px solid #45d1a5;
}
.creatvite_footer a i {
    margin-right: 5px;
}
/* footer Section */
.footer_section {
    padding: 50px 0;
    background:#1F5066;
    color: #fff;
}
.footer_content {
    margin: 0 20px;
}
.footer_section .section_title p { 
    color: #45d1a5;
}
.footer_section .section_title h2 {
    color: #fff;
 }
 .content_header h4 {
    font-size: 22px;
    margin-bottom: 30px;
 }
 .content_header .content_logo {
     width: 40%;
 }
 .content_header h5 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #45d1a5;
 }
 .content_header p {
    font-size: 14px;
 }

 .footer_section .social_icon i {
     font-size: 15px;
     padding: 8px;
     margin: 10px 5px;
     border: 1px solid #fff;
     color: #fff;
     cursor: pointer;
     transition: all 0.3s ease;
 }
 .footer_section .social_icon i:hover {
     border: 1px solid transparent;
     background:#45d1a5;
 }

 /* Footer Contact Info */
.contact_info_content {
    margin-bottom: 10px;
    font-size: 15px;
}
.contact_info_content i {
    font-size: 16px;
}
/* Footer Contact Form */
.footer_contact_form {
    background: #fff;
    color:#1F5066;
    padding: 30px;
}
.footer_contact_form .footer_form_header h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer_contact_form .footer_form_input_box input {
    padding: 10px 0;
    border: none;
    outline: none;
    width: 100%;
    margin: 5px 0;
    border-bottom: 2px solid #1F5066;
}
.footer_contact_form .footer_form_input_box textarea {
    padding: 10px 0;
    border: none;
    outline: none;
    width: 100%;
    margin: 5px 0;
    border-bottom: 2px solid #1F5066;
}
.footer_contact_form .footer_form_submit_button button {
    padding: 8px 20px;
    border: none;
    background:#1F5066;
    color: #fff;
    transition: all 0.3s ease;
}
.footer_contact_form .footer_form_submit_button button:hover {
    background:#183e50;
}
.form_container {
    margin: 0 20px;
}
.content_header h4 {
    color: #fff;
}

/* footer_bottom */
.footer_bottom {
    padding: 20px 0;
    text-align: center;
    background: #1F5066;
    color: #fff;
}
.footer_bottom p {
    margin: 0;
}
.footer_bottom a {
    color: #45d1a5;
}
/* Footer End */


/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            -: Media Query :-
             Max-Width 991px
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/
@media ( max-width: 991px ) {
    /*Header and Banner Area*/

    .header_area {
        position: relative;
    }
    .header_area .menu_icon {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }
    .header_area .menu { 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #42c59c;
        text-align: center;
        z-index: 999;
        display: none;
      }
      .header_area .menu ul {
          display: block;
          padding: 0;
      }
      .header_area .menu ul li  a{  
          color: #fff;
      }
      .header_area .logo {
          padding: 10px 0;
      }
      .banner {
          height: auto;
      }
      .banner_content {
          padding: 50px 0;
      }
      /* About section */
      .about_right {
       margin-top: 50px;
       padding: 0;
    }
    /* skills */
    .skills {
        padding: 0 20px 100px;
    }
     .skills_left {
         margin: 20px 0;
     }
    .skills_left p{
        text-align: justify;
    }
    .skills_right {
        margin: 20px 0;
        padding: 0;
    }
    /* Service section */
    .service {
        margin: 20px;
    }
    /* Pricing Plan */
    .pricing_plan_section .plan {
        margin: 20px;
        padding: 50px 30px;
    }
    /* footer  */
    .footer_content {
        margin-bottom: 40px;
    }
    @keyframes animate {
        0%, 10%, 100% {
            width: 0;
        }
        70%, 90% {
            width: 35%;
        }
    }

}





/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            -: Media Query :-
             Max-Width 500px
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/
@media ( max-width: 500px ) { 
    /*Header and Banner Area*/
    P {
        font-size: 15px;
    }
    .header_area .menu_icon img {  
        width: 2.44rem;
    }
    .banner {
        height: auto;
    }
    .banner .me img {
        margin: 0px;
        padding: 0 20px;
    }
    .banner .banner_content{
        padding: 40px 20px;
    }
    .banner_content h1{
        font-size: 65px;
    }
    .banner_content h5{
        font-size: 18px;
    }
    .banner_content p{
        text-align: justify;
    }
    .button_group {
        flex-direction: column;
        margin: 10px 0;
    }
    .button_group .button {
        width: 100%;
        margin: 10px 0;
    }
    /* About us Section */
    .working_box {
        flex-direction: column;
    }
    .section_title h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .about_us {
        padding: 50px 20px;
    }
    .about_right h2 {
        font-size: 20px;
    }
    .about_right p{
        text-align: justify;
    }
    .about_right .myinfo1 p{
        text-align: left;
    }
    .about_right .myinfo2 p{
        text-align: right;
    }
    .working_box .box {
        width: 100%;
     }
     /* skills */
     .skills {
        padding: 0 20px 100px;
    }
    .skills_left {
        margin: 20px 0;
    }
    .skills_left h2 {
        font-size: 20px;
    }
    .skills_left p{
        text-align: justify;
    }
    .skills_right {
        margin: 20px 0;
        padding: 0;
    }
    /* Creativite section */
    .creativite {
        margin:20px;
    }
    /* footer  */
    .footer_content {
        margin-bottom: 40px;
    }
    /* footer bottom */
    .footer_bottom {
        padding: 20px;
    }
    @keyframes animate {
        0%, 10%, 100% {
            width: 0;
        }
        70%, 90% {
            width: 70%;
            }
       }


    }


}